html  {
    height: 100%;
    margin: 0;
}
body {
	display: flex;
	background-image: url();
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 
height: 100%;     
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #1a1a2e;
	margin: 0;
	font-family: Arial, sans-serif;
}
.container {
	text-align: center;
	color: rgb(0, 0, 0);
}
.question {
	background-color: #d8b4e2;
	border-radius: 20px;
	padding: 10px 20px;
	color: black;
	font-size: 1.5rem;
	margin-bottom: 20px;
}
.crystal-ball {
	width: 600px;
	height: 600px;
	border-radius: 50%;
	background-image: url('../websites/logos/ball.png');
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 2rem;
	font-weight: bold;
	box-shadow: 0 0 21px rgba(255, 255, 255, 0.8);
}
